<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/Assets/Images/loginback.jpeg" />
    <!-- Font Awesome icons-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/styles.css" rel="stylesheet" />
    <!-- Vendor CSS Files -->
    <link href="~/Scripts/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Scripts/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Scripts/vendor/venobox/venobox.css" rel="stylesheet">

  
    <!--Styling-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" href="~/Content/templatemo-style.css" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><h1>C<span style="color: #ffff">F</span>M<span style="color: #ffff">O</span>S</h1></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ml-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#mainback">Home</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">FoodCategories</a></li>

                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#service">Services</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Team</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#gallery">Gallery</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#book-table">Order</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header id="mainback" class="masthead">
        <div class="container">
            <div class="masthead-subheading">Welcome To Canteen Food Management and Ordering System!</div>
            <div class="masthead-heading text-uppercase">C<span style="color: #fed136">F</span>M<span style="color: #fed136">O</span>S </div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#portfolio">More</a>
        </div>
    </header>



    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="section-title">
                <h2>Why Us____</h2>
                <p>Why Choose Our Canteen</p>
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <div class="box">
                        <span>01</span>
                        <h4>Dedicated Team</h4>
                        <p>We are the team of dedicated professionals, in pursuit to do whatever it takes to make your days unforgettable.</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box">
                        <span>02</span>
                        <h4>Order Accuracy</h4>
                        <p>We provide Greet customers services and approach them in a way that is natural and fits the individual situation</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box">
                        <span>03</span>
                        <h4> Respect the customer needs.</h4>
                        <p>We make Customer Happy by ensuring great service.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Food Categories</h2>
                <h3 class="section-subheading text-muted">Different Food Categories are given!</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/Assets/Images/FoodItems/junkFood/main.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Junk Food</div>
                            <div class="portfolio-caption-subheading text-muted">Click To see More</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/Assets/Images/FoodItems/Punjabi/main.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Punjabi Food</div>
                            <div class="portfolio-caption-subheading text-muted">Click To see More</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/Assets/Images/FoodItems/Chinese/main.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Chinese</div>
                            <div class="portfolio-caption-subheading text-muted">Click To see More</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/Assets/Images/FoodItems/NoodlesRice/main.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Noodles And Rice</div>
                            <div class="portfolio-caption-subheading text-muted">Click To see More</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/Assets/Images/FoodItems/Soups/main.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Soups</div>
                            <div class="portfolio-caption-subheading text-muted">Click To see More</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/Assets/Images/FoodItems/Beverages/main.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Beverages</div>
                            <div class="portfolio-caption-subheading text-muted">Click To see More</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section class="services" id="service">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="">
                            <img src="~/Assets/Images/cook_breakfast.png" alt="Breakfast">
                            <h4>Breakfast</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="">
                            <img src="~/Assets/Images/cook_lunch.png" alt="Lunch">
                            <h4>Lunch</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="">
                            <img src="~/Assets/Images/cook_dinner.png" alt="Dinner">
                            <h4>Dinner</h4>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <a href="">
                            <img src="~/Assets/Images/cook_dessert.png" alt="Desserts">
                            <h4>Desserts</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">We Love to Work Togather.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/Assets/Images/team/Eisha.jpg" alt="" />
                        <h4>Eisha Nawaz</h4>
                        <p class="text-muted">Computer Scientist</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://github.com/EishaButt"><i class="fab fa-github"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/Assets/Images/team/Khansa.jpg" alt="" />
                        <h4>Khansa Khaliq</h4>
                        <p class="text-muted">Computer Scientist</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://github.com/Khansa-Khaliq"><i class="fab fa-github"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/Assets/Images/team/muskan.png" alt="" />
                        <h4>Muskan Asif</h4>
                        <p class="text-muted">Computer Scientist</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://github.com/muskanrafi44"><i class="fab fa-github"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">
                        We Are a Group Of People Who Love Creativity, Design, Technology And Thinking Differently. Innovation Excites Us And We’re Driven To Keep Moving Forward. We Want To Take You Into A Better Future. &nbsp;
                        We Can Turn Amazing Possiblities Into Impactful Realities.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">

        <div class="container">
            <div class="section-title">
                <h2>Gallery</h2>
                <p>Some photos of Dishes From Our Canteen</p>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/junkFood/donuts.png" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/junkFood/donuts.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/Punjabi/paneer-tikka.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/Punjabi/paneer-tikka.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/Chinese/Manchurian-Recipe-blog-1-of-1.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/Chinese/Manchurian-Recipe-blog-1-of-1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/junkFood/Chicken-Shawarma-Final-1.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/junkFood/Chicken-Shawarma-Final-1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>



                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/Beverages/carrot-juice-1296x728-header.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/Beverages/carrot-juice-1296x728-header.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>



                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/Beverages/apple.jpeg" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/Beverages/apple.jpeg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/Soups/beercheesesoup.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/Soups/beercheesesoup.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/Soups/main.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/Soups/main.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/junkFood/chicken-zinger-500x500.png" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/junkFood/chicken-zinger-500x500.png" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/junkFood/crust pizza.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/junkFood/crust pizza.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/Chinese/chilli-chicken-recipe-500x500.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/Chinese/chilli-chicken-recipe-500x500.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/Beverages/orange.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/Beverages/orange.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/Punjabi/saag and makki ki roti.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/Punjabi/saag and makki ki roti.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/Punjabi/Kadhai.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/Punjabi/Kadhai.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/Punjabi/Aloo-Paratha-620.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/Punjabi/Aloo-Paratha-620.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="~/Assets/Images/FoodItems/Punjabi/Murgh-cholay.jpg" class="venobox" data-gall="gallery-item">
                            <img src="~/Assets/Images/FoodItems/Punjabi/Murgh-cholay.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Gallery Section -->

    <!--Book Your Order Now-->
    <section id="book-table">
        <div class="containeerr">
            <div class="row">
                <div class="col-md-10">
                    <div class="heading">
                        <h2>Book Your Order Now</h2>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2 col-sm-12">
                    <div class="left-image">
                        <img src="~/Assets/Images/FoodItems/junkFood/Chicken-Tikka-Wrap-.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="right-info">
                        <h4>Reservation</h4>
                        <form id="form-submit" action="" method="get">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <select required name='day' onchange='this.form.()'>
                                            <option value="">Select day</option>
                                            <option value="Monday">Monday</option>
                                            <option value="Tuesday">Tuesday</option>
                                            <option value="Wednesday">Wednesday</option>
                                            <option value="Thursday">Thursday</option>
                                            <option value="Friday">Friday</option>
                                            <option value="Saturday">Saturday</option>
                                            <option value="Sunday">Sunday</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <select required name='hour' onchange='this.form.()'>
                                            <option value="">Select hour</option>
                                            <option value="10-00">10:00</option>
                                            <option value="12-00">12:00</option>
                                            <option value="14-00">14:00</option>
                                            <option value="16-00">16:00</option>
                                            <option value="18-00">18:00</option>
                                            <option value="20-00">20:00</option>
                                            <option value="22-00">22:00</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <input name="name" type="name" class="form-control" id="name" placeholder="Full name" required>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <input name="phone" type="phone" class="form-control" id="phone" placeholder="Phone number" required>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <select required class="person" name='persons' onchange='this.form.()'>
                                            <option value="">How many persons?</option>
                                            <option value="1-Person">1 Person</option>
                                            <option value="2-Persons">2 Persons</option>
                                            <option value="3-Persons">3 Persons</option>
                                            <option value="4-Persons">4 Persons</option>
                                            <option value="5-Persons">5 Persons</option>
                                            <option value="6-Persons">6 Persons</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="btn">Book Order</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!--End Book Your Order Now-->

    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Contact Us</h2>
                <h3 class="section-subheading text-muted">Contact Us If you have any Query.</h3>
            </div>

            <form id="contactForm" name="sentMessage" novalidate="novalidate">

                <div class="row align-items-stretch mb-5">

                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name." />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address." />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group mb-md-0">
                            <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number." />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-textarea mb-md-0">
                            <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div id="success"></div>
                    <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Send Message</button>
                </div>


                <div class="row align-items-stretch mb-5">
                    <div class="address">
                        <i class="icofont-google-map"></i>
                        <h4>Location:</h4>
                        <p>CAFMOS ROAD</p>
                    </div>

                    <div class="open-hours">
                        <i class="icofont-clock-time"></i>
                        <h4>Open Hours:</h4>
                        <p>
                            Monday-Saturday:<br>
                            8:00 AM - 4:00 PM
                        </p>
                    </div>

                    <div class="email">
                        <i class="icofont-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>

                    <div class="phone">
                        <i class="icofont-phone"></i>
                        <h4>Call:</h4>
                        <p>+923837474</p>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">Copyright © CFMOS 2020</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-right">
                    <a class="mr-3" href="#!">Privacy Policy</a>
                    <a href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>


    <!-- Food Categories-->
    <!-- Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="~/Assets/Images/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Junk Food</h2>
                                <p class="item-intro text-muted">List Of Junk Food is Given Bellow</p>
                                <img class="img-fluid d-block mx-auto" src="~/Assets/Images/FoodItems/junkFood/main.jpg" alt="" />
                                <p>Junk food is unhealthful food that is high in calories from sugar or fat, with little dietary fiber, protein, vitamins, minerals, or other important forms of nutritional value. Precise definitions vary by purpose and over time. Some high-protein foods, like meat prepared with saturated fat, may be considered junk food.</p>
                                <ul class="list-inline">
                                    <li>Category: Junk Food</li>
                                </ul>
                                <!-- Thumbnails -->
                                <section class="thumbnails">
                                    <div>

                                        <a href="~/Assets/Images/FoodItems/junkFood/chicken-zinger-500x500.png">
                                            <img src="~/Assets/Images/FoodItems/junkFood/chicken-zinger-500x500.png" alt="" />
                                            <h3>Zinger Burger</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/junkFood/full/Chicken-Shawarma-Final-1.jpg">
                                            <img src="~/Assets/Images/FoodItems/junkFood/Chicken-Shawarma-Final-1.jpg" alt="" />
                                            <h3>Chicken Shawarma</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/junkFood/full/Best-Platter-Chicken-Shawarma-Recipe.jpg">
                                            <img src="~/Assets/Images/FoodItems/junkFood/Best-Platter-Chicken-Shawarma-Recipe.jpg" alt="" />
                                            <h3>Platter Chicken Shawarma</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/junkFood/sandwich.jpeg">
                                            <img src="~/Assets/Images/FoodItems/junkFood/sandwich.jpeg" alt="" />
                                            <h3>Sandwich</h3>
                                        </a>

                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/junkFood/full/frenchfries.jpg">
                                            <img src="~/Assets/Images/FoodItems/junkFood/frenchfries.jpg" alt="" />
                                            <h3>French Fries</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/junkFood/full/chicken-burger-recipe-500x500.jpg">
                                            <img src="~/Assets/Images/FoodItems/junkFood/chicken-burger-recipe-500x500.jpg" alt="" />
                                            <h3>Chicken Burger</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/junkFood/Chicken-Fajita-Pizza7.jpg">
                                            <img src="~/Assets/Images/FoodItems/junkFood/Chicken-Fajita-Pizza7.jpg" alt="" />
                                            <h3>Chicken Fajita Pizza</h3>
                                        </a>

                                        <a href="~/Assets/Images/FoodItems/junkFood/full/Chicken-Tikka-Wrap-.jpg">
                                            <img src="~/Assets/Images/FoodItems/junkFood/Chicken-Tikka-Wrap-.jpg" alt="" />
                                            <h3>Chicken Tikka Wrap</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/junkFood/nugets.jpg">
                                            <img src="~/Assets/Images/FoodItems/junkFood/nugets.jpg" alt="" />
                                            <h3>Nugets</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/junkFood/full/CHICKEN_TIKKA_BURGER-1.jpg">
                                            <img src="~/Assets/Images/FoodItems/junkFood/CHICKEN_TIKKA_BURGER-1.jpg" alt="" />
                                            <h3>Chicken Tikka Burger</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/junkFood/crust pizza.jpg">
                                            <img src="~/Assets/Images/FoodItems/junkFood/crust pizza.jpg" alt="" />
                                            <h3>Crust Pizza</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/junkFood/zinger-shawarma.jpg">
                                            <img src="~/Assets/Images/FoodItems/junkFood/zinger-shawarma.jpg" alt="" />
                                            <h3>Zinger Shwarma</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/junkFood/donuts.png">
                                            <img src="~/Assets/Images/FoodItems/junkFood/donuts.png" alt="" />
                                            <h3>Donuts</h3>
                                        </a>

                                        <a href="~/Assets/Images/FoodItems/junkFood/classic-beef-burger.jpg">
                                            <img src="~/Assets/Images/FoodItems/junkFood/classic-beef-burger.jpg" alt="" />
                                            <h3>Beef Burger</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/junkFood/pan pizza.jpg">
                                            <img src="~/Assets/Images/FoodItems/junkFood/pan pizza.jpg" alt="" />
                                            <h3>Pan Pizza</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/junkFood/pumpkin-veggie-burger.jpg">
                                            <img src="~/Assets/Images/FoodItems/junkFood/pumpkin-veggie-burger.jpg" alt="" />
                                            <h3>Veggie Burger</h3>
                                        </a>
                                    </div>


                                </section>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="~/Assets/Images/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Punjabi Foods</h2>
                                <p class="item-intro text-muted">Punjabi Foods are given bellow.</p>
                                <img class="img-fluid d-block mx-auto" src="~/Assets/Images/FoodItems/Punjabi/main.jpg" alt="" />
                                <p>Punjabi cuisine is known for its rich, buttery flavours along with the extensive vegetarian and meat dishes. Main dishes include sarhon dā saâg (a stew whose main ingredient is mustard greens) and makki di roti (flatbreads made with cornmeal).</p>
                                <ul class="list-inline">
                                    <li>Category: Punjabi Food</li>
                                </ul>
                                <!-- Thumbnails -->
                                <section class="thumbnails">
                                    <div>

                                        <a href="~/Assets/Images/FoodItems/Punjabi/Aloo-Paratha-620.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/Aloo-Paratha-620.jpg" alt="" />
                                            <h3>Aloo Paratha</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Punjabi/biryani.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/biryani.jpg" alt="" />
                                            <h3>Biryani</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Punjabi/chicken-butter.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/chicken-butter.jpg" alt="" />
                                            <h3>Butter Chicken</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Punjabi/chickenkrahi.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/chickenkrahi.jpg" alt="" />
                                            <h3>Chicken krahi</h3>
                                        </a>

                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/Punjabi/chole-bhature.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/chole-bhature.jpg" alt="" />
                                            <h3>Chole Bhature</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Punjabi/Kadhai.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/Kadhai.jpg" alt="" />
                                            <h3>Kadhai</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Punjabi/kunnaGosht.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/kunnaGosht.jpg" alt="" />
                                            <h3>Kunna Gosht</h3>
                                        </a>

                                        <a href="~/Assets/Images/FoodItems/Punjabi/Murgh-cholay.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/Murgh-cholay.jpg" alt="" />
                                            <h3>Murg Cholay</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/Punjabi/pakoda kadhai.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/pakoda kadhai.jpg" alt="" />
                                            <h3>Pakora Kadhi</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Punjabi/paneer-tikka.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/paneer-tikka.jpg" alt="" />
                                            <h3>Paneer Tikka</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Punjabi/paye.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/paye.jpg" alt="" />
                                            <h3>Paye</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Punjabi/prantha.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/prantha.jpg" alt="" />
                                            <h3>Parantha</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/Punjabi/pulao.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/pulao.jpg" alt="" />
                                            <h3>Pulao</h3>
                                        </a>

                                        <a href="~/Assets/Images/FoodItems/Punjabi/saag and makki ki roti.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/saag and makki ki roti.jpg" alt="" />
                                            <h3>Saag And Makki ki Roti</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Punjabi/Tandoori-Chicken-1-3.jpg">
                                            <img src="~/Assets/Images/FoodItems/Punjabi/Tandoori-Chicken-1-3.jpg" alt="" />
                                            <h3>Tandoori Chicken</h3>
                                        </a>

                                    </div>


                                </section>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 3-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="~/Assets/Images/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Chinese Food</h2>
                                <p class="item-intro text-muted">Chinese Foods are given bellow.</p>
                                <img class="img-fluid d-block mx-auto" src="~/Assets/Images/FoodItems/Chinese/main.jpg" alt="" />
                                <p>Chinese cuisine is an important part of Chinese culture, which includes cuisine originating from the diverse regions of China, as well as from Overseas Chinese who have settled in other parts of the world.</p>
                                <ul class="list-inline">
                                    <li>Category: Chinese Food</li>
                                </ul>
                                <!-- Thumbnails -->
                                <section class="thumbnails">
                                    <div>

                                        <a href="~/Assets/Images/FoodItems/Chinese/chickenandvegespeghetie.jpg">
                                            <img src="~/Assets/Images/FoodItems/Chinese/chickenandvegespeghetie.jpg" alt="" />
                                            <h3>Chicken And Vegetable Spghettie</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Chinese/chilli-chicken-recipe-500x500.jpg">
                                            <img src="~/Assets/Images/FoodItems/Chinese/chilli-chicken-recipe-500x500.jpg" alt="" />
                                            <h3>Chilli Chicken</h3>
                                        </a>


                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/Chinese/Manchurian-Recipe-blog-1-of-1.jpg">
                                            <img src="~/Assets/Images/FoodItems/Chinese/Manchurian-Recipe-blog-1-of-1.jpg" alt="" />
                                            <h3>Manchurian</h3>
                                        </a>

                                        <a href="~/Assets/Images/FoodItems/Chinese/springrolls.jpg">
                                            <img src="~/Assets/Images/FoodItems/Chinese/springrolls.jpg" alt="" />
                                            <h3>Spring Rolls</h3>
                                        </a>


                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/Chinese/Chowmein.jpg">
                                            <img src="~/Assets/Images/FoodItems/Chinese/Chowmein.jpg" alt="" />
                                            <h3>Chow Mein</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Chinese/fried-rice-food.jpg">
                                            <img src="~/Assets/Images/FoodItems/Chinese/fried-rice-food.jpg" alt="" />
                                            <h3>Fried Rice Food</h3>
                                        </a>

                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/Chinese/ricebowl.jpg">
                                            <img src="~/Assets/Images/FoodItems/Chinese/ricebowl.jpg" alt="" />
                                            <h3>Rice Bowl</h3>
                                        </a>

                                    </div>

                                </section>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 4-->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="~/Assets/Images/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Noodles and Rice</h2>
                                <p class="item-intro text-muted">Noodles And Rice Categories are given bellow.</p>
                                <img class="img-fluid d-block mx-auto" src="~/Assets/Images/FoodItems/NoodlesRice/main.jpg" alt="" />

                                <ul class="list-inline">
                                    <li>Category: Noodles and Rice</li>
                                </ul>
                                <!-- Thumbnails -->
                                <section class="thumbnails">
                                    <div>

                                        <a href="~/Assets/Images/FoodItems/NoodlesRice/cup-noodle-fried-rice.jpg">
                                            <img src="~/Assets/Images/FoodItems/NoodlesRice/cup-noodle-fried-rice.jpg" alt="" />
                                            <h3>Cup Noodle Fried Rice</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/NoodlesRice/garlic-rice-noodles.jpg">
                                            <img src="~/Assets/Images/FoodItems/NoodlesRice/garlic-rice-noodles.jpg" alt="" />
                                            <h3>Garlic Rice Noodles</h3>
                                        </a>



                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/NoodlesRice/rice-and-vermicillie-noodles.jpg">
                                            <img src="~/Assets/Images/FoodItems/NoodlesRice/rice-and-vermicillie-noodles.jpg" alt="" />
                                            <h3>Rice and Vermicllie Noodles</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/NoodlesRice/Rice-noodles-10.jpg">
                                            <img src="~/Assets/Images/FoodItems/NoodlesRice/Rice-noodles-10.jpg" alt="" />
                                            <h3>Rice Noodles</h3>
                                        </a>


                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/NoodlesRice/Noodle-Rice-Pilaf.jpg">
                                            <img src="~/Assets/Images/FoodItems/NoodlesRice/Noodle-Rice-Pilaf.jpg" alt="" />
                                            <h3>Noodles Rice Pilaf</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/NoodlesRice/riceNoodlesWith-brocliiand-bellpepper.jpg">
                                            <img src="~/Assets/Images/FoodItems/NoodlesRice/riceNoodlesWith-brocliiand-bellpepper.jpg" alt="" />
                                            <h3>Rice Noodles With Brocoli And Pepper</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/NoodlesRice/Singapore-Rice-Noodles.jpg">
                                            <img src="~/Assets/Images/FoodItems/NoodlesRice/Singapore-Rice-Noodles.jpg" alt="" />
                                            <h3>Singa Pore Rice Noodles</h3>
                                        </a>

                                        <a href="~/Assets/Images/FoodItems/NoodlesRice/Stir-Fry-Recipe-with-Chicken-and-Rice-Noodles.jpg">
                                            <img src="~/Assets/Images/FoodItems/NoodlesRice/Stir-Fry-Recipe-with-Chicken-and-Rice-Noodles.jpg" alt="" />
                                            <h3>Stir Fry Chicken And Rice Noodles</h3>
                                        </a>
                                    </div>
                                </section>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 5-->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="~/Assets/Images/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Soups</h2>
                                <p class="item-intro text-muted">Soups Categories are given Bellow.</p>
                                <img class="img-fluid d-block mx-auto" src="~/Assets/Images/FoodItems/Soups/main.jpg" alt="" />
                                <p>We are excited to bring you this delicious compilation of our best soup recipes & hope this will become your new “look no further list” for cozy weather soups!</p>
                                <ul class="list-inline">
                                    <li>Category: Soups</li>
                                </ul>
                                <!-- Thumbnails -->
                                <section class="thumbnails">
                                    <div>


                                        <a href="~/Assets/Images/FoodItems/Soups/beercheesesoup.jpg">
                                            <img src="~/Assets/Images/FoodItems/Soups/beercheesesoup.jpg" alt="" />
                                            <h3>Beer Cheese Soup</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Soups/Chicken-Tortilla-Soup.jpg">
                                            <img src="~/Assets/Images/FoodItems/Soups/Chicken-Tortilla-Soup.jpg" alt="" />
                                            <h3>Chicken Tortilla Soup</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Soups/chickenNoodleSoup.jpg">
                                            <img src="~/Assets/Images/FoodItems/Soups/chickenNoodleSoup.jpg" alt="" />
                                            <h3>Chicken Noodle Soup</h3>
                                        </a>

                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/Soups/chickenshaslick.png">
                                            <img src="~/Assets/Images/FoodItems/Soups/chickenshaslick.png" alt="" />
                                            <h3>Chicken Chashlick</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Soups/chickensoup.jpg">
                                            <img src="~/Assets/Images/FoodItems/Soups/chickensoup.jpg" alt="" />
                                            <h3>Chicken Soup</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Soups/ciopinno.jpg">
                                            <img src="~/Assets/Images/FoodItems/Soups/ciopinno.jpg" alt="" />
                                            <h3>Cioppino</h3>
                                        </a>

                                        <a href="~/Assets/Images/FoodItems/Soups/Creamy-Butternut-Soup.jpg">
                                            <img src="~/Assets/Images/FoodItems/Soups/Creamy-Butternut-Soup.jpg" alt="" />
                                            <h3>Creamy Butternut Soup</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/Soups/Egg-Drop-Soup.jpg">
                                            <img src="~/Assets/Images/FoodItems/Soups/Egg-Drop-Soup.jpg" alt="" />
                                            <h3>Egg Drop Soup</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Soups/Homemade-Chicken-and-Rice-Soup.jpg">
                                            <img src="~/Assets/Images/FoodItems/Soups/Homemade-Chicken-and-Rice-Soup.jpg" alt="" />
                                            <h3>Chicken and Rice Soup</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Soups/hot and sour soup.png">
                                            <img src="~/Assets/Images/FoodItems/Soups/hot and sour soup.png" alt="" />
                                            <h3>Hot and Sour Soup</h3>
                                        </a>

                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/Soups/Navy-Bean-Soup.jpg">
                                            <img src="~/Assets/Images/FoodItems/Soups/Navy-Bean-Soup.jpg" alt="" />
                                            <h3>Navy Bean Soup</h3>
                                        </a>

                                        <a href="~/Assets/Images/FoodItems/Soups/noodlesoup.png">
                                            <img src="~/Assets/Images/FoodItems/Soups/noodlesoup.png" alt="" />
                                            <h3>Noodle Soup</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Soups/Potluck-Chicken-Vegetable-Soup.jpg">
                                            <img src="~/Assets/Images/FoodItems/Soups/Potluck-Chicken-Vegetable-Soup.jpg" alt="" />
                                            <h3>Chicken Vegetable Soup</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Soups/beefandbarley.jpg">
                                            <img src="~/Assets/Images/FoodItems/Soups/beefandbarley.jpg" alt="" />
                                            <h3>Beef And Barley Soup</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/Soups/salmon-noodle-soup.jpg">
                                            <img src="~/Assets/Images/FoodItems/Soups/salmon-noodle-soup.jpg" alt="" />
                                            <h3>Salmon Noodle Soup</h3>
                                        </a>

                                        <a href="~/Assets/Images/FoodItems/Soups/tomato.jpg">
                                            <img src="~/Assets/Images/FoodItems/Soups/tomato.jpg" alt="" />
                                            <h3>Tomato Soup</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Soups/minestrone.jpg">
                                            <img src="~/Assets/Images/FoodItems/Soups/minestrone.jpg" alt="" />
                                            <h3>MineStrone Soup</h3>
                                        </a>
                                    </div>

                                </section>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 6-->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="~/Assets/Images/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Beverages</h2>
                                <p class="item-intro text-muted">Different Types of Beverages are given bellow</p>
                                <img class="img-fluid d-block mx-auto" src="~/Assets/Images/FoodItems/Beverages/main.jpg" alt="" />
                                <p>A drink is a liquid intended for human consumption. In addition to their basic function of satisfying thirst, drinks play important roles in human culture. Common types of drinks include plain drinking water, milk, coffee, tea, hot chocolate, juice and soft drinks.</p>
                                <ul class="list-inline">
                                    <li>Category: Beverages</li>
                                </ul>
                                <!-- Thumbnails -->
                                <section class="thumbnails">
                                    <div>

                                        <a href="~/Assets/Images/FoodItems/Beverages/apple.jpeg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/apple.jpeg" alt="" />
                                            <h3>Apple Juice</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Beverages/bananashake.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/bananashake.jpg" alt="" />
                                            <h3>Banana Shake</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Beverages/caffe-latte-edwardtanujayaa-1567151330.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/caffe-latte-edwardtanujayaa-1567151330.jpg" alt="" />
                                            <h3>Caffe latte</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Beverages/cappuccino-coffee-cup.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/cappuccino-coffee-cup.jpg" alt="" />
                                            <h3>Cappuccino Coffee Cup</h3>
                                        </a>

                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/Beverages/promoright_1.png">
                                            <img src="~/Assets/Images/FoodItems/Beverages/promoright_1.png" alt="" />
                                            <h3>Mineral Water</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Beverages/carrot-juice-1296x728-header.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/carrot-juice-1296x728-header.jpg" alt="" />
                                            <h3>Carrot Juice</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Beverages/chocolateshake.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/chocolateshake.jpg" alt="" />
                                            <h3>Chocolate Shake</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Beverages/Classic-Homemade-Lemonade-IG.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/Classic-Homemade-Lemonade-IG.jpg" alt="" />
                                            <h3>Lemonade</h3>
                                        </a>

                                        <a href="~/Assets/Images/FoodItems/Beverages/coca-cola.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/coca-cola.jpg" alt="" />
                                            <h3>Coca Cola</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/Beverages/espreso.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/espreso.jpg" alt="" />
                                            <h3>Espresso</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Beverages/grape-juice.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/grape-juice.jpg" alt="" />
                                            <h3>Grape Juice</h3>
                                        </a>

                                        <a href="~/Assets/Images/FoodItems/Beverages/long black(americano).jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/long black(americano).jpg" alt="" />
                                            <h3> Americano</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Beverages/Strawberry-Milkshake-5.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/Strawberry-Milkshake-5.jpg" alt="" />
                                            <h3>Strawberry Milkshake</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/Beverages/Mango-Juice-2.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/Mango-Juice-2.jpg" alt="" />
                                            <h3>Mango Juice</h3>
                                        </a>

                                        <a href="~/Assets/Images/FoodItems/Beverages/Mango-Shake.jpeg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/Mango-Shake.jpeg" alt="" />
                                            <h3>Mango Shake</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Beverages/mocha-1567151479.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/mocha-1567151479.jpg" alt="" />
                                            <h3>Mocha</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Beverages/tandurichai.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/tandurichai.jpg" alt="" />
                                            <h3>Tanduri Chai</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Beverages/juice-box-packaging-500x500.png">
                                            <img src="~/Assets/Images/FoodItems/Beverages/juice-box-packaging-500x500.png" alt="" />
                                            <h3>Pack Juices</h3>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="~/Assets/Images/FoodItems/Beverages/orange.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/orange.jpg" alt="" />
                                            <h3>Orange Juice</h3>
                                        </a>

                                        <a href="~/Assets/Images/FoodItems/Beverages/pineapple-drink-500x500.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/pineapple-drink-500x500.jpg" alt="" />
                                            <h3>PineApple Drink</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Beverages/strawberry-juice-recipe.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/strawberry-juice-recipe.jpg" alt="" />
                                            <h3>Straeberry Juice</h3>
                                        </a>
                                        <a href="~/Assets/Images/FoodItems/Beverages/tea.jpg">
                                            <img src="~/Assets/Images/FoodItems/Beverages/tea.jpg" alt="" />
                                            <h3>Tea</h3>
                                        </a>
                                    </div>

                                </section>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close
                                </button>
                                <div>
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="~/Assets/mail/jqBootstrapValidation.js"></script>
    <script src="~/Assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="~/Scripts/scripts.js"></script>

    <!-- Food Catogories Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.poptrox.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/main.js"></script>

    <!-- Vendor JS Files -->
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Scripts/vendor/venobox/venobox.min.js"></script>
    <script src="~/Scripts/vendor/aos/aos.js"></script>


</body>
</html>
